body{background-color:bisque; text-align: center;}

ul{ 
    display:table; margin:0 auto;
    font-size: 18px;
}
ol{ 
   display:table; margin:0 auto;
   font-size: 18px;
}
h2{
    color: #ba3535;
}

h3{
    color: #86A3B8;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}